body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background:#fff;
    font-style: normal;
    font-stretch: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
}
section {
    max-width: 1200px;
    margin: auto;
    padding: 0px 25px;
}
.trustval {
    text-align: center;
    color: #212529;
    font-size: 35px;
    font-family: 'roboto', sans-serif;
}
.errwhat {
    text-align: center;
    font-size: 30px;
    color: rgb(97, 97, 97);
}
.questerr {
    font-size: 30px;
    text-align: center;
}
.texts {
    font-size: 17px;
}
.walls {
    color: #2e4358;
    font-size: 27.85px;
    text-align: center;
    font-weight: 500;
}
nav {
    margin: auto;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #5878bc;
    font-size: 16px;
}
.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.apps > div {
    width: 130px;
    height: fit-content;
    box-shadow:rgb(38,57,77) 0px 10px 15px -5px;
    margin: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
}
footer {
    text-align: center;
    padding: 20px;
}
footer ul {
    text-decoration: none;
    list-style: none;
    font-size: 17px;
}
footer ul a {
    text-decoration: none;
    color:#5878bc;
    font-weight: 600;
}
.validate-trust {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.validate-trust > div {
    margin: 5px;
}
.valtru {
    max-width: 400px;
    min-width: 320px;
    height: fit-content;
    margin:auto;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(221, 221, 221);
    padding: 10px;
}
.valtru p {
   text-align: left;
   color: rgb(166, 176, 190);
   font-size: 16px;
   font-weight: 700;
}

#trustlock {
    padding: 13px 43px;
    color: rgb(112, 112, 112);
    background: rgb(226, 226, 226);
    font-weight: 600;
    font-size: 17px;
    margin: auto;
    border-radius: 0px;
    text-align: center;
    border: none;
}
button {
    width: 300px;
    padding: 13px 43px;
    color: rgb(238, 238, 238);
    background: #000;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
label {
    font-weight: 600;
    font-size: 17px;
}
#Phrasee {
    width: 300px;
    height: 200px;
    background: rgb(230, 230, 230);
    border: none;
    font-size: 17px;
    font-weight: 600;
}
form {
    width: 305px;
}
* a {
    text-decoration: none;
    color: inherit;
}